* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(40, 40, 40);
}
.select {
  background-color: black;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  border-bottom: 2px solid black;
  font-weight: bold;
  appearance: none;
  padding-block: 12px;
  padding-inline: 20px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#cats {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 35px;
  width: 140px;
  border-radius: 0px 0px 10px 10px;
  background-color: black;
  padding-bottom: 10px;
  z-index: 10000 !important;
  transition: display 0.3s ease;
}

.select:hover #cats {
  display: flex;
  z-index: 10000;
  box-shadow: 0px 10px 15px rgb(60, 60, 60);
}

#cats a {
  color: var(--text-color);
  text-decoration: none;
  padding-block: 10px;
  font-size: 18px;
  z-index: 10000;
  position: relative;
}

#cats a::after {
  content: "";
  height: 2px;
  position: absolute;
  z-index: 10000;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  margin: 0;
  background-color: rgb(35, 130, 37);
  transition: width 0.15s ease;
}

#cats a:hover::after {
  width: 50%;
  background-color: rgb(35, 130, 37);
  transition: width 0.2s ease;
}


.movingbar {
  transform: translateX(0px) !important;
}


.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  width: 36%;
  margin-inline: 32%;
  display: flex;
  justify-content: center;
  background-color: rgb(30, 30, 30);
  border-radius: 15px;
  flex-direction: column;
}

.alld {
  display: flex;
  justify-content: space-between;
}

.labels {
  display: flex;
  justify-content: space-between;
}


.placeholder {
  visibility: hidden;
  height: 0;
  transition: height 0.5s ease;
}

.placeholderr {
  visibility: visible;
  height: 50px;
}

.debug {
  color: white;
  font-size: 18px;
  padding-bottom: 20px;
  letter-spacing: 0.5px;
}

#blub {
  transition: color 0.3s ease;
}

select,
.label {
  width: 28%;
  padding-block: 12px;
  color: white;
  background-color: transparent;
  font-size: 30px;
  appearance: none;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.2s ease;
}

.label {
  font-size: 18px;
  padding-block: 10px;
}

select:first-of-type {
  border-radius: 15px 0px 0px 0px;
}

select:last-of-type {
  border-radius: 0px 15px 0px 0px;
}

select:hover {
  background-color: rgb(20, 20, 20);
}

option {
  background-color: rgb(30, 30, 30);
  font-size: 19px;
}

.btn {
  width: 15%;
  margin-inline: 42.5%;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: rgb(30, 30, 30);
  border-radius: 15px;
  padding-block: 15px;
  margin-top: 30px;
  color: white;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.wer div {
  font-size: 17px;
  color: rgb(200, 200, 200);
}

.btn:hover {
  background-color: rgb(20, 20, 20);
}

.btn:active {
  background-color: rgb(10, 10, 10);
}

.inputs {
  width: 70%;
  margin-inline: 15%;
  display: flex;
  background-color: rgb(30, 30, 30);
  border-radius: 15px;
  justify-content: space-between;
}

.input {
  width: 16%;
  border: none;
  display: block;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-block: 15px;
}

.dks {
  height: 0;
  visibility: hidden;
  transition: height 0.3s ease;
}

#blub {
  color: white;
  margin-top: 30px;
}

.full {
  height: 50px;
}

@media (max-width: 800px) {
  .btn {
    width: 60%;
    margin-inline: 20%;
    margin-top: 5px;
    padding-block: 5px;
  }

  form {
    width: 80%;
    margin-inline: 10%;
  }

  select {
    padding-block: 10px;
  }

  .inputs {
    width: 95%;
    margin-inline: 2.5%;
  }
}

.macsidebar {
  position: absolute;
  top: 9vh;
  left: 3px;
  transform: translateX(-120%);
  transition: transform 0.15s ease;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.85);
  padding-inline: 8px;
  height: 90vh;
  z-index: 10000000;
  border-radius: 15px;
  padding-block: 10px;
  overflow: auto;
}

.macsidebar img {
  width: 38px;
  margin-top: 2px;
}

.macsidebar a {
  display: block;
  transition: transform 0.2s ease;
}

.macsidebar a:hover {
  transform: scale(1.2);
}

.nav {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  position: sticky;
  top: 0;
}

.link {
  padding-block: 12px;
  padding-inline: 20px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  position: relative;
  color: white;
  border-bottom: 2px solid black;
  transition: border-bottom 0.3s;
}

.link::after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  margin: 0;
  background-color: rgb(35, 130, 37);
  transition: width 0.15s ease;
}

.link:hover::after {
  width: 80%;
  background-color: rgb(35, 130, 37);
  transition: width 0.2s ease;
}

.logo {
  margin-inline: 35px;
  height: 32px;
}

.logo img {
  height: 32px;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 46.67px);
}

.time {
  padding-bottom: 50px;
  font-size: 75px;
}

.tools {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.tool {
  background-color: black;
  padding-block: 15px;
  font-size: 20px;
  width: 45%;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.tool:hover {
  background-color: rgb(20, 20, 20);
}

.wrap {
  width: 100%;
  height: calc(100vh - 55px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  color: white;
  background-color: rgb(50, 50, 50);
}

.table th {
  font-size: 20px;
  padding-block: 15px;
  width: calc(96% / 7);
  background-color: rgb(60, 60, 60);
  border: 0;
  margin: 0;
}

thead th {
  position: sticky;
  top: 51px;
  z-index: 1000;
}

tr th:first-child {
  width: 4%;
  font-size: 15px;
  padding-block: 10px;
  text-align: right;
  padding-right: 5px;
}

.table td {
  font-size: 18px;
  text-align: center;
  padding-block: 10px;
  background-color: rgb(50, 50, 50);
}

.time,
.date {
  color: white;
  display: flex;
  font-size: 40px;
  font-weight: bold;
  margin-block: 10px;
}

.time {
  font-size: 150px;
  text-shadow: 0px 0px 15px gray;
}

.digit {
  width: 160px;
  text-shadow: 0px 0px 15px gray;
}

.tip {
  color: white;
  font-size: 20px;
  padding-top: 30px;
}

#minutes, #seconds, #mili {
  width: 165px;
}

#half {
  font-size: 90px;
  align-self: flex-end;
  margin-bottom: 10px;
  margin-left: 20px;
}

#month {
  margin-left: 5px;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}


.sun,
#zone,
.sep {
  display: flex;
  color: rgb(224, 224, 224);
  font-size: 18px;
  justify-content: center;
}

.rise {
  margin-right: 15px;
}

.sep {
  width: auto;
  margin-inline: 20px;
  font-size: 28px;
}

@media (max-width: 800px) {
  .time {
    font-size: 70px;
  }

  .digit {
    width: 70px;
  }

  #half {
    font-size: 45px;
  }
}
/*
td:hover {
  background-color: rgb(30, 30, 30);
  border-radius: 10px !important;
}
*/


.announce {
  background-color: rgb(30, 30, 30);
  position: absolute;
  padding-block: 10px;
  top: 46.5px;
  width: 100%;
  color: white;
}


#closea {
  float: right;
  width: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-right: 30px;
}

#closea:hover {
  transform: rotate(-90deg);
}

.announce h2 {
  font-size: 18px;
  text-align: left;
  padding-left: 30px;
  margin-block: 0;
}

.announce a {
  color: white;
}
